In [55]:
import pandas as pd;
import matplotlib.pyplot as plt
import os

In [27]:

# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv('melb_data.csv') 
# print a summary of the data in Melbourne data
print(melbourne_data.describe())

         Unnamed: 0         Rooms         Price      Distance      Postcode  \
count  18396.000000  18396.000000  1.839600e+04  18395.000000  18395.000000
mean   11826.787073      2.935040  1.056697e+06     10.389986   3107.140147
std     6800.710448      0.958202  6.419217e+05      6.009050     95.000995
min        1.000000      1.000000  8.500000e+04      0.000000   3000.000000
25%     5936.750000      2.000000  6.330000e+05      6.300000   3046.000000
50%    11820.500000      3.000000  8.800000e+05      9.700000   3085.000000
75%    17734.250000      3.000000  1.302000e+06     13.300000   3149.000000
max    23546.000000     12.000000  9.000000e+06     48.100000   3978.000000

           Bedroom2      Bathroom           Car       Landsize  BuildingArea  \
count  14927.000000  14925.000000  14820.000000   13603.000000   7762.000000
mean       2.913043      1.538492      1.615520     558.116371    151.220219
std        0.964641      0.689311      0.955916    3987.326586    519.188596
min        0.000000      0.000000      0.000000       0.000000      0.000000
25%        2.000000      1.000000      1.000000     176.500000     93.000000
50%        3.000000      1.000000      2.000000     440.000000    126.000000
75%        3.000000      2.000000      2.000000     651.000000    174.000000
max       20.000000      8.000000     10.000000  433014.000000  44515.000000

         YearBuilt     Lattitude    Longtitude  Propertycount
count  8958.000000  15064.000000  15064.000000   18395.000000
mean   1965.879996    -37.809849    144.996338    7517.975265
std      37.013261      0.081152      0.106375    4488.416599
min    1196.000000    -38.182550    144.431810     249.000000
25%    1950.000000    -37.858100    144.931193    4294.000000
50%    1970.000000    -37.803625    145.000920    6567.000000
75%    2000.000000    -37.756270    145.060000   10331.000000
max    2018.000000    -37.408530    145.526350   21650.000000

In [28]:
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [40]:
melbourne_data.head(5)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [29]:
melbourne_data = melbourne_data.dropna(axis=0)

In [30]:
melbourne_data.describe()

,Unnamed: 0,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,9632.061491,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,5743.219058,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,2.000000,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,4544.750000,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,9346.500000,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,14544.750000,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,19739.000000,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [32]:
melbourne_predictors = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']

In [33]:
X=melbourne_data[melbourne_predictors]

In [14]:
y=melbourne_data.Price

In [34]:
X.isnull().values.any()

False

In [46]:
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [45]:
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

# Train-test Split

In [84]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both predictors and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)
# Define model

# Linear regression

In [85]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
regressor = LinearRegression()
regressor.fit(train_X, train_y)
# get predicted prices on validation data
val_predictions = regressor.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

301277.674552

 MAE and RMSE
Similarities: Both MAE and RMSE express average model prediction error in units of the variable of interest. 
    Both metrics can range from 0 to ∞ and are indifferent to the direction of errors. 
    They are negatively-oriented scores, which means lower values are better.

Differences: Taking the square root of the average squared errors has some interesting implications for RMSE.
    Since the errors are squared before they are averaged, the RMSE gives a relatively high weight to large errors. 
    This means the RMSE should be more useful when large errors are particularly undesirable.

In [120]:
print("Making predictions for the following 5 houses:")
print(melbourne_data.Price.head())
print("The predictions are")
print(regressor.predict(X.head()))

Making predictions for the following 5 houses:
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64
The predictions are
[ 1045389.50066306  1572386.30446212   713954.91831633  1652490.84626497
  1170156.33087143]

# Decision Tree Regressor

In [99]:
melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)
# get predicted prices on validation data
val1_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val1_predictions))

264973.797934

In [121]:

print("Making predictions for the following 5 houses:")
print(melbourne_data.Price.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64
The predictions are
[ 1139900.          1701375.          1225225.          2045666.66666667
  1258955.88235294]

In [87]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

In [88]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  257829
Max leaf nodes: 500  		 Mean Absolute Error:  243176
Max leaf nodes: 5000  		 Mean Absolute Error:  254915

# Decision tree with max leaf node 500

In [101]:
# Define model
melbourne_model = DecisionTreeRegressor(max_leaf_nodes=500, random_state=0)

# Fit model
melbourne_model.fit(X, y)
# get predicted prices on validation data
val2_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val2_predictions))

115858.748363

In [113]:
import numpy as np
print("Predictions vs real values")

print(np.array([val2_predictions,val_y]))

Predictions vs real values
[[  956810.81081081   524401.4486692    956810.81081081 ...,   338170.
    980147.05882353  2029821.42857143]
 [  815000.           655000.           957500.         ...,   200000.
   1002000.          1710000.        ]]

# Random Forest

In [90]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor()
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

202370.578029